<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zwsi.gb.feature"
        >

    <application>
        <activity android:name=".ARPlayerActivity"></activity>
        <activity
                android:name=".LoadActivity"
                android:label="Load"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name=".AROptionsActivity"
                android:label="@string/title_activity_preferences"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name=".DestinationActivity"
                android:label="Destination"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MapActivity"
                android:screenOrientation="portrait"
                />
    </application>

</manifest>