<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.zwsi.ar.app"
        >

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_ar"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_ar_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.Launcher"
            >
        <meta-data
                android:name="aia-compat-api-min-version"
                android:value="1"
                />
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"
                />

        <activity android:name="com.zwsi.ar.app.ARPlayerActivity"></activity>
        <activity
                android:name="com.zwsi.ar.app.ARLoadActivity"
                android:label="Load"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name="com.zwsi.ar.app.AROptionsActivity"
                android:label="@string/title_activity_preferences"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name="com.zwsi.ar.app.ARDestinationActivity"
                android:label="Destination"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.Launcher.NoActionBar"
                />
        <activity
                android:name="com.zwsi.ar.app.ARMainActivity"
                android:screenOrientation="unspecified"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.zwsi.ar.app.ARMapActivity"
                android:screenOrientation="unspecified"
                />
    </application>

</manifest>
